<div class="select-wrapper">
  <select
    [class]="selectClasses"
    [disabled]="disabled()"
    [value]="value()"
    (change)="onSelectChange($event)"
    (blur)="onBlur()"
    (focus)="onFocus()"
  >
    @if (placeholder()) {
      <option value="" disabled>{{ placeholder() }}</option>
    }
    @for (option of options(); track option.value) {
      <option
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}
      </option>
    }
  </select>

  <span class="select-arrow">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="6 9 12 15 18 9"/>
    </svg>
  </span>
</div>
