@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.login {
  @include card;
  padding: $spacing-8;

  @include media-down(sm) {
    padding: $spacing-6;
    box-shadow: none;
    background-color: transparent;
  }

  &__mobile-logo {
    @include flex-center;
    width: 64px;
    height: 64px;
    margin: 0 auto $spacing-4;
    background-color: $primary;
    color: white;
    border-radius: $border-radius-xl;

    @include media-up(md) {
      display: none;
    }
  }

  &__header {
    text-align: center;
    margin-bottom: $spacing-6;
  }

  &__title {
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
    color: $text-primary;
    margin: 0 0 $spacing-2;
  }

  &__subtitle {
    font-size: $font-size-sm;
    color: $text-secondary;
    margin: 0;
  }

  &__error {
    display: flex;
    align-items: center;
    gap: $spacing-2;
    padding: $spacing-3 $spacing-4;
    margin-bottom: $spacing-4;
    background-color: $danger-50;
    color: $danger;
    border-radius: $border-radius-md;
    font-size: $font-size-sm;

    svg {
      flex-shrink: 0;
    }
  }

  &__form {
    @include flex-column;
    gap: $spacing-4;
  }

  &__options {
    @include flex-between;
    font-size: $font-size-sm;
  }

  &__remember {
    display: flex;
    align-items: center;
    gap: $spacing-2;
    cursor: pointer;
    color: $text-secondary;

    input {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  &__forgot {
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
